@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');



*,
::before,
::after {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Red Hat Text', sans-serif;
}


.wrapper {
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.sidebar {
    display:grid;
    grid-template-rows: 1fr 1fr 4fr;
    grid-area: sidebar;
    background-color:#e11d48;
    z-index:2;
}

.sidebar ul {
    font-weight:bolder;
    font-size:1.2rem;
    color:white;
}



.sidebar > div > ul > li {
    margin-bottom:10px;
}

.dashtitle > img {
    height:30px;
    position:relative;
    top:4px;
    margin-right:5px;
}

.menu1 > ul > li > img {
    height:30px;
    position:relative;
    top:4px;
    margin-right:10px;
}


.menu2 > ul > li > img {
    height:30px;
    position:relative;
    top:4px;
    margin-right:8px;
}

.dashtitle {
    font-weight:bolder;
    color:white;
    font-size:24px;
    justify-self: center;
    align-self:center;
    
}

.menu1 ul {
    padding-left:40px;
    margin-top:25px;
    margin-bottom:50px;
}

.menu2 ul {
    padding-left:40px;
    margin-top:25px;
    margin-bottom:50px;
}

ul {
    list-style:none;
}

.header {
    display:grid;
    /* display shadow on top */
    box-shadow: 0 4px 4px #ffe2e2;
    z-index:1;
    /*                       */
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 2fr 3fr ;
    /* define areas for simple placement */
    grid-template-areas:
    "searchbar userinfo"
    "greet buttons";
}

.searchbar {
    display:grid;
    grid-area:searchbar;
    justify-content: center;
    align-items:center;
    grid-template-columns: 1fr 8fr;
}

.searchbar > input {
    font-size:1.3rem;
    border-radius: 25px;
    border:none;
    height:24px;
    width: 650px;
    background-color: rgb(235, 235, 235);
    padding-left:20px;
}

.searchbar > img {
    justify-self:end;
    height:30px;
    position: relative;
    padding-right:10px;
}

.userinfo {
    display:grid;
    grid-area:userinfo;
    grid-template-columns: 1fr .9fr 2fr;
    align-items:center;
    justify-items: center;
    padding-left:15px;
    margin-right:50px;
}

.userinfo > img {
    height:30px;
}

.userinfo > #bell {
    justify-self:end;
}

.profile {
    display:flex;
    align-items:center;
    justify-content:center;
    width:2.1em;
    height:2.1em;
    padding:10px;
    border-radius: 50%;
    border:2px solid black;
    font-size:24px;
    background-color: #ffbb00;
}

.greet {
    display:grid;
    grid-area: greet;
    grid-template-columns: 1fr 8fr;
    align-items:center;
}

.greet > .profile {
    justify-self:end;
    margin-right:15px;
    font-size:24px;
    padding:12px;
}

#user-greet > p {
    font-weight:bolder;
}

#user-greet > h2 {
    font-size:1.6rem;
}

.buttons {
    display:grid;
    align-items:center;
    justify-content: center;
    grid-area:buttons;
    padding: 10px 30px;
}

.buttons > ul {
    display:flex;
}

.buttons > ul > li > button {
    border-radius:15px;
    background-color: #be123c;
    color:white;
    border:none;
    width:96px;
    height:36px;
    padding: 8px 24px;
    margin-right:30px;
    align-content: center;
    font-weight: bolder;
}


.main {
    background-color: rgb(243, 243, 243);
    display:grid;
    grid-area:main;
    padding: 20px;
    grid-template-columns:3fr 1fr;
}

.cards {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:24px;
}


.card {
    display:grid;
    border-radius:10px;
    height:200px;
    grid-template-rows: 4fr 1fr;
    font-weight: normal;
    font-size:16px;
    color:black;
    padding:24px;
    background-color: white;
    border-left:7px solid rgb(255, 187, 0);
}

.projects > h2,
.announcements > h2,
.trending > h2 {
    margin-bottom: 10px;
    font-size:1.6rem;
}



.proj-buttons > ul {
    display:flex;
    justify-content:end;
}

.proj-buttons > ul > li {
    padding:12px;
    width:50px;

}

.projects .title {
    font-weight:bold;
}

.feed,
.projects {
    padding:12px;
}

.at {
    font-weight: 700;
}

.a-cards {
    background-color: white;
    border-radius:15px;
    padding:15px 20px;
    margin-bottom:30px;
}

.a-cards > div {
    border-bottom: 1px solid lightgrey;
    margin-bottom:20px;
}

.a-cards {
    background-color: white;
    padding:25px 35px;
    margin-bottom:40px;
}

.a-cards :nth-child(3) {
    border:none;
    margin-bottom:0px;
}


.trend-cards {
    background-color: white;
    display:grid;
    padding: 12px 24px;
    grid-template-columns:1fr;
    grid-template-rows: repeat(3, 1fr);
    border-radius:15px;
}

.trend {
    display:grid;
    grid-template-columns: 1fr 5fr;
    padding:3px;
    align-items:center;
}

.trend > .txt {
    padding: 15px;
    font-size:1rem;
}